<div class = "jumbotron">
    <h2> LINK3D </h2>
    <p> A membership site where entrepreneurs meet developers.</p>
    <p> Created by an aspiring developer in the making </p>
    <p> Mir Nawaz Ali <br> +971503995311 <br> mir_nizam@hotmail.com </p>
</div>