<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <BODY>
            <p>You've received a message from site's contact form, from <%= "#{ @name }, #{ @email }."%></p>
            <p><%= @body %></p>
        </BODY>
    </HEAD>
</HTML>